@import url("https://fonts.googleapis.com/css2?family=Mate:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap");
:root {
  box-sizing: border-box;
  --padding-main: 2rem;
  font-family: "Poppins", serif;
  color: #202020;
}
span {
  font-size: 0.8rem;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f9fafb;
}

.container {
  display: flex;
}
.left-side {
  position: relative;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 50%;
  min-width: 10rem;
}
#image-background {
  height: 100vh;
  max-width: 100%;
  object-fit: cover;
  z-index: -1;
}
.company-logo {
  position: absolute;
  top: 25%;
  display: flex;
  align-items: center;
  background-color: #ffffff75;
  justify-content: center;
  font-size: max(2.5rem, 3vw);
  padding: min(1rem, 10%);
  width: 100%;
}
.company-logo > img {
  width: 1em;
}
#logo-name {
  font-family: "Mate", serif;
  color: #ffac00;
  text-shadow: 0px 3px 10px #7a4c02;
  font-size: 1em;
}
.bottom {
  position: absolute;
  bottom: 0;
  color: white;
}
.bottom a {
  color: white;
}

main {
  padding-top: min(2em, 5%);
  max-width: 900px;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
main > * {
  width: 90%;
}
form {
  width: calc(90% + var(--padding-main));
}
.header {
  padding-left: var(--padding-main);
}

form h2 {
  margin-top: 0;
  margin-bottom: 1em;
}
h2 {
  font-size: max(1.2rem, 1.5vw);
}
form > button {
  margin-left: var(--padding-main);
  margin-top: var(--padding-main);
  outline: 0;
  border: 0;
  background-color: rgb(255 172 0);
  border-radius: 8px;
  box-shadow: 1px 2px 8px 0px #80808073;
  font-size: clamp(1rem, 1.2rem, 1.2vw);
  padding: 1em 2em;
  color: #fff4dd;
  font-weight: 600;
}

form > button:active {
  background-color: rgb(221, 147, 0);
}

#form-div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.row {
  display: flex;
  gap: 5rem;
}
.form-element {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 20rem;
  gap: 5px;
}
input {
  border: solid 1px #ebebeb;
  border-radius: 4px;
  flex-basis: 1.7rem;
  background-color: #fffefe;
}
#input-section {
  background-color: white;
  box-shadow: 7px 5px 7px 0px #80808045;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  padding-inline: var(--padding-main);
  margin: 0;
}
input:focus {
  outline: none;
  border: 1px solid blue;
  box-shadow: 1px 2px 8px 0px #80808073;
}

input:not(:focus):not(:placeholder-shown):invalid {
  border: 1px solid red;
}

input:not(.pwd-wrong):not(:focus):not(:placeholder-shown):valid {
  border: 1px solid green;
}

input:not(.pwd-wrong):not(:focus):not(:placeholder-shown):valid + span::before {
  color: green;
  content: "Correct ✔️";
  display: block;
}

#email:not(:focus):not(:placeholder-shown):invalid + span::before {
  color: red;
  content: "*Invalid Email";
  display: block;
}

#phone-number:not(:focus):not(:placeholder-shown):invalid + span::before {
  color: red;
  content: "*Invalid Phone number";
  display: block;
}

#pwd:not(:focus):not(:placeholder-shown):invalid + span::before {
  color: red;
  content: "*Password must be atleast 8 characters, includes an uppercase letter, a lowercase letter and a number.";
  display: block;
}
.pwd-wrong:not(:focus):not(:placeholder-shown) {
  border: 1px solid red;
}
.pwd-wrong + span::before {
  color: red;
  content: "password not matching";
  display: block;
}

main > p {
  margin-left: var(--padding-main);
  font-weight: 600;
  font-size: max(0.9rem, 1.1vw);
  margin-top: 1em;
}
main > p > a {
  color: rgb(255 172 0);
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    justify-content: center;
    min-width: 320px;
  }
  .left-side {
    width: 100%;
    max-width: none;
    max-height: none;
  }
  #image-background {
    max-width: none;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    height: 50vh;
  }
  .row {
    gap: 1rem;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1600px) {
  main > p {
    font-size: 1rem;
  }

  .company-logo {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.5rem;
  }
  main {
    max-width: 1000px;
  }
}
